@import url(http://fonts.googleapis.com/css2?family=Arvo);
*{
    font-family: 'Arvo', serif;
}
body{
    background-color: #def2f1;
    padding: 0;
    margin: 0;
}

.header {
    color: white;
    padding: 20px 30px;
    min-height: 80px;
    max-height: 100px;
    background-color: #4dc0ba;
}

.floater {
    margin-top: 0.7em;
    margin-left: 0.5em;
    float: left;
}

/*Login form*/

.registerkulay {
    height: 39px;
    width: 100px;
    border: none;
    border-radius: 10px;
    background-color: #2B7A78;
    color: white;
    cursor: pointer;
}
.loginkulay {
    
    margin-right: 1em;
    height: 40px;
    width: 80px;
    border: none;
    border-radius: 10px;
    background-color: #2B7A78;
    color: white;
    cursor: pointer;
}

.modal_bg {
    z-index: 1;
	position:fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s;
}

.bg-active {
	visibility: visible;
	opacity: 1;
}

.login_form{
	position: fixed;
    background: linear-gradient(to right,  #cfd9df 0%, #e2ebf0 100%);
	width: 410px;
	padding: 30px;
	box-shadow: 0 0 8px rgba(0,0,0,0.4);

}

.login_form .close_btn {
	position: absolute;
	right: 20px;
	top: 15px;
	cursor: pointer;
	font-size: 25px;
	font-weight: 800;
}

.login_form .close_btn:hover {
	color: #33ccff;
}
.login_form .title {
	font-size: 35px;
	font-weight: 600;
	text-align: center;
}

.login_form form {
	margin-top: -20px;
}

.login_form form .inputs {
	height: 45px;
	width: 100%;
	margin: 50px 0;
}

form .inputs label {
	font-size: 18px;
}

form .inputs input {
	height: 100%;
	width: 100%;
	padding-left: 10px;
	font-size: 17px;
	border: 1px solid silver;
}
form .inputs input:hover {
	border-color: #33ccff;
	border-bottom-width: 2px;
}
form .forgot a{
	text-decoration: none;
}
form .forgot a:hover{
	color: #33ccff;
	text-decoration: underline;
}

form .submit {
	margin: 30px 0;
	height: 45px;
	width: 100%;
	position: relative;
	overflow: hidden;
}

form .submit .design {
	height: 100%;
	width: 300%;
	position: absolute;
	left: -100%;
	z-index: -1;
	background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
}
form .submit:hover .design {
	left: 0;
}
form .submit input {
	height: 100%;
	width: 100%;
	background: none;
	border: none;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1px;
	cursor: pointer;
}

form .register a{
	text-decoration: none;
}
form .register a:hover{
	color: #33ccff;
	text-decoration: underline;
}

#username_error, #password_error {
    color: red;
}

/* Content */

.section1{
    min-height: 100vh;
    background-color: rgb(231, 231, 231);
    background-position: center;
    background-size: cover;
}

.cardcon{
    background-color: #fff;
    min-height: 620px;
    padding: 20px;
    -webkit-box-shadow: 4px 9px 36px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 9px 36px 2px rgba(0,0,0,0.75);
box-shadow: 4px 9px 36px 2px rgba(0,0,0,0.75);
}

.card h3, h4{
    padding: 20px;
    text-transform: uppercase;
    font-size: 80%;
    text-align: center;
}
.card h4{
    padding: 20px;
    text-transform: uppercase;
    font-size: 80%;
    text-align: center;
    margin-bottom: -20px;
}
.card p{
    font-size: 75%;
    text-align: justify;
}

.btn-card{
    text-decoration: none;
}
.btn-card:link,.btn-card:visited{
    
    color: #3aafa9;
    border: 2px solid #3aafa9;
    border-radius: 30px;
    font-size: 15px;
    padding: 10px 15px;
    margin-left: 4.2em;
}

.btn-card:hover,.btn-card:active{
   background-color: rgb(30, 211, 224);
   transition: 0.5s;

}


.section2{
    min-height: 90vh;
    background-color: rgb(231, 231, 231);
}
.title-content{
    padding-top: 70px;
    font: 200%;
    color: #e67e22;
    text-transform: uppercase;
    letter-spacing: 10px;
    word-spacing: 4px;
    margin-bottom: 30px;
}
.content-name-2{
    font-size: 120%;
    color: #e67e22 ;
}
.con-p{
    font-size: 70%;
}


.con-p{
    text-align: justify;
}



/* Footer */

footer{
    min-height: 30vh;
    background-color: #1c1c1c;
}
.ft{
    padding: 20px;
    color: #fff;
    font-size: 70%;
}
.footer-col{
    color: #fff;
}
#line{
    text-decoration: none;
    color: #fff;
}
.footer-logo{
    height: 200px;
    padding-top: 40px;
    text-align: center;
    padding-left: 30%;
}

