@import url(http://fonts.googleapis.com/css2?family=Arvo);

body{
    font-family: 'Arvo', serif;
}
.main{
    height: 100vh;
    width: 100vw;
}
.brand{
    text-align: center;
}
.logo-link{
    text-align: center;
}
#logo{
    width: 40%;
    margin: auto;
}
.side-bar{
    background-color: #2b7e7a;
}
#side-menu{
    padding: 0;
    display: table;
    margin: 1em 0 auto 0;
    text-align: right;
    list-style-type: none;
}
#side-menu li{
    width: 100%;
}
.nav-item:hover{
    background-color: white;
    color: black;
}
#side-menu a{
    text-decoration: none;
    color: white;
}
#side-menu a:hover{
    color: black;
}
#profile-link{
    text-align: center;
    text-decoration: none;
    color: white;
    margin-bottom: 2vh;
}
.header{
    background-color: #4dc0ba;
    color: white;
    padding: 2vh 1vw;
}
.analytic-cards{
    box-shadow: 0 8px 12px black;
}

/* Dashboard User */

.dropdown_graph {
    margin-top: 0.5vh;
}

.dropdown_graph select{
    width: 7em;
    height: 30px;
    border-radius: 5px;
}

/* Daily Report USER */
#scroll {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 76vh;
}

.dropdown {
    margin-top: 0.75vh;
}
.dropdown select{
    width: 7em;
    height: 33px;
    border-radius: 5px;
}



/* History USER */
#history_table {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 25px;
}

/* Admin Dashboard */

.user_info{
    width: 115vh;
}
.user_info #fix_table {
    height: 57vh;
}

.user_info label, input {
    margin: 5px;
}

.user_list {
    margin: 5px;
}

.add_user {
    margin-top: 8px;
}
.add_user button {
    width: 150px;
}
#user_manipulate {
    margin-top: 15px;
    width: 15em;
    height: 54.5vh;
}


/* Machine Tab*/

.search_label {
    margin-right: 3em;
    margin-left: 1em;
    margin-top: 1em;
}
.search_label .machine_label {
    margin-top: 1em;
}

.config {
    margin: 5em;
}